# .dockerignore for backend
node_modules

# Secrets and environment variables
.env
.env.*

# Tests
tests
coverage
jest.config.js

# Logs
logs
*.log
npm-debug.log*

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# OS / IDE
.vscode
.idea
.DS_Store

# Local development files and documentation
requests.http
README.md
